/* ABOUT */
.about-section{
    height: 100vh;
    width: 100%;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'EB Garamond', serif;
    scroll-snap-align: center;
  }
  .about-section p {
    font-weight: 500;
    font-size: 16px;
  }
  
  .about-heading{
    display: flex;
    justify-content: center;
  }
  .about-heading h1{
    color: rgb(116, 19, 41);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
  }
  
  .about-btn{
    height: 50px;
    width: 125px;
    border-radius: 12px;
  }
  
  .about-btn a {
    text-decoration: none;
    color: #EAEAEA;
    font-weight: 600;
  }
  .fa-linkedin, 
  .fa-file-code{
    font-size: 17px;
    color: #EAEAEA;
  }
  
  
  
  #headshot{
    background: url(../images/Headshot.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    height: 430px;
    width: 410px;
  }
  
  .action-btn{
    margin-right: 20px; 
    background-color: rgb(116, 19, 41);
  }

/* Media Queries */
