/* PROJECT */
*{
  box-sizing: border-box;
}
.projects-section{
    height: 100vh;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #fff;
    scroll-snap-align: center;
  }
  
  .projects-heading{
    display: flex;
    justify-content: center;
    font-size: 70px;
  }
  
  .projects-heading h1{
    color: rgb(116, 19, 41);
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
  }

/* Media Queries */
@media only screen and (max-width: 1024px){
.mdl-card {
  min-width: 300px;
}
.mdl-grid{
  margin: 18px auto;
}
.project-card{
  margin: 50px 30px;
}
.project-heading{
  margin: 90px auto;
}


}