
/* target navigation for smaller screens have fScreen display non on small screen and hamburger(Drawer) display on smaller screens */
html {
scroll-behavior: smooth;
}
body{
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* Highlight area */
.highlight{
  color: rgb(235, 232, 232);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}
.highlight-heading h1{
  font-size: 90px;
  margin: 15px;
  text-shadow: 3px 3px rgb(116, 19, 41);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
.highlight-subtexted p{
  font-size: 30px;
  color: #EAEAEA;
  text-shadow: 1px 1px rgb(116,19,41);
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
}

.highlight .view-projects{
  background-color:  rgb(116, 19, 41);
  color: #fff;
  margin-top: 20px;
  height: 50px;
  border-radius: 12px;
}
.view-projects a{
  text-decoration: none;
  color: #EAEAEA;
  font-weight: 600;
}

.pipes{
  color: rgb(116, 19, 41);
}

/* NAV LINKS */
.mdl-layout__header-row{
  position: fixed;
  top: 0;
  z-index: 1;
  background: rgba(116, 19, 42, 0.048);
  display: flex;
  width: 100%;
}


.mdl-layout__header-row .mdl-navigation__link {
  font-size: 22px;
  font-family: 'EB Garamond', serif;
  font-weight: 800;
  color:  rgb(117, 23, 45);
}

.demo-grid-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.mdl-layout__drawer-button{
  color: rgb(116, 19, 41);
  font-size: 40px;
}


/* Media Queries */

/* Tablets */
@media only screen and (max-width: 600px){
  .mdl-layout__drawer-button{
    display: block;
  }
  .mdl-layout__header-row {
    display: flex;
  }
}
/* Desktop and Laptop screens */
@media only screen and (min-width: 768px){
  .mdl-layout__drawer-button {
    display: none;
  }
  .mdl-layout__header-row {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    background: rgba(116, 19, 42, 0.048);
  }
}

@media only screen and (max-width: 768px){
.mdl-layout__drawer-button{
  display: block;
}
}
